<form class="form-inline">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" ng-model="user.name" class="form-control" id="name" placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" ng-model="user.email" class="form-control" id="email" placeholder="jane.doe@example.com">
  </div>
  <button type="submit" ng-click="registerUser(user)" class="btn btn-success">Get hired</button>
</form>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
